<div class="header">
    <div class="block_header">
        <div class="banner-1">
            <a href="https://go.fiverr.com/visit/?bta=7756&nci=16956&campaign=21211" target="_blank">
                <Image Width="130px" Src="/images/logo.jpg" Preview="false" />
            </a>
        </div>
        <div class="banner-2">
            Opensea是一个NFT交易平台，由毕业于布朗大学的Devin Finzer和毕业于斯坦福大学Alex创立。>>
            <a href="https://go.fiverr.com/visit/?bta=7756&nci=16956&campaign=21211" target="_blank">
                OpenSea开户地址
            </a>
        </div>
    </div>
</div>